<!-- Grid -->
<div class="w3-row-padding" id="about">


  <div class="w3-quarter w3-margin-bottom">
    <div class="w3-card-4">
      <img src="https://www.w3schools.com/w3images/team1.jpg" alt="John" style="width:100%">
      <div class="w3-container">
        <h3>Jane Doe</h3>
        <p class="w3-opacity">CEO & Founder</p>
        <p> elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="w3-quarter w3-margin-bottom">
    <div class="w3-card-4">
      <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Mike" style="width:100%">
      <div class="w3-container">
        <h3>Mike Ross</h3>
        <p class="w3-opacity">Art Director</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="w3-quarter w3-margin-bottom">
    <div class="w3-card-4">
      <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="w3-container">
        <h3>John Doe</h3>
        <p class="w3-opacity">Designer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
    </div>
  </div>
</div>
